/*--------------------------------------------------------------
1.0 General Organization
--------------------------------------------------------------*/

div{
    position: static;
}

h1, h2, h3, h4, h5, h6, p,.indentlist  {
    line-height: 150%;
}


section, footer, aside, nav,article, figure, figcaption{
    display: block;
    position: static;
    font-family: sans-serif;
    font: "Lucida Grande";
    font-weight: lighter;
    font-size: 14px;
    max-width: 100%;
}


/*--------------------------------------------------------------
2.0 Navigation
--------------------------------------------------------------*/

nav{
    align-content: right;
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: lighter;
    height: 45px;
    opacity: 0.9;
    padding-bottom: 1.75em;
    padding-top: 1em;
    position: fixed;
    text-align:right;
    width: 100%;
    z-index: 9999;
        display: -moz-inline-box; /* for firefox */
        display: inline-block;
}

nav ul{
    padding-right: 7%;
}
nav li {
    align-content: center;
    display: inline-block;
    line-height: normal;
    margin-top: -14px;
    padding: 20px;
}

.nav-link, .creditlink {
    color: #000000;
    text-decoration: none;
}


/*--------------------------------------------------------------
3.0 Headers, Headings & Logo
--------------------------------------------------------------*/
.bodyheading{
    padding-top: 10%;
}

.logo{
    display: inline-block;
    float: left;
    font-weight: bold;
    padding-left: 7%;
    text-align: left;
}

.welcome{
    padding-top:5%;
}

#aboutanchor{
  position:absolute;
  margin-top: -8em;
}
/*--------------------------------------------------------------
4.0 Body & Content Arrangement
--------------------------------------------------------------*/

a{
    color: #000000;
}

article {
    align-content: center;
    background: #ffffff;
    padding-bottom: 4em;
}

body{
    background-image: url(http://www.columbia.edu/cu/carib/images/CSAbackground.png);
    margin: 0 !important;
}

#content{
    height:auto;
    background: #ffffff;
    border-left: 55px solid hsla(0,0%,99%,.4);
    border-right: 55px solid hsla(0,0%,99%,.4);
    background-clip: padding-box;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.contactus{
    text-align: center;
    align-content: center;
}

p, thcinfo{
    font-size: 15px;
}


/*--------------------------------------------------------------
5.0 Lists
--------------------------------------------------------------*/

ul {
    list-style-type: none;
}
li{
    margin: 0 0 5px 0;
}


/*--------------------------------------------------------------
6.0 Images
--------------------------------------------------------------*/
.eventgallery{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.thcpics{
    display: inline-block;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    width: 40%;
}

.headerphoto {
    display: inline-block;
    width: 100%;
}

.bannerpics {
    padding-top: 6em;
    padding-bottom: 2em;
}

/*--------------------------------------------------------------
7.0 Social Media Section
--------------------------------------------------------------*/

.social-media-logos{
    max-height: 50px;
    padding-left:10px;
    padding-right:10px;
}
#social-media-section{
    align-content: center;
    padding-top: 2.5%;
    text-align: center;
}

/*--------------------------------------------------------------
8.0 Footer
--------------------------------------------------------------*/

footer{
    background-color: #ffffff;
    padding:3em;
}

#credit{
    font-size: 8px;
}

/*--------------------------------------------------------------
9.0 Mobile + Smaller Screen Integration
--------------------------------------------------------------*/

@media only screen and (max-width: 1150px){
    #aboutanchor{
        margin-top: -6em;
    }
    .anchor{
        position: absolute;
        margin-top: -2em;
    }
    .bannerpics {
        padding-top: 6em;
    }
    h1{
        font-size: 15px;
    }
    .logo{
        padding-left: 2%;
    }
    nav ul{
        padding-right: 2%;
    }
    nav li {
        padding: 10px;
    }
}

@media only screen and (max-width: 830px){
    #aboutanchor{
        margin-top: -9em;
    }
    .anchor{
        position: absolute;
        margin-top: -9em;
    }
    .bannerpics{
        padding-top: 10em;
    }

    #content {
        border-left: 20px solid hsla(0,0%,99%,.4);
        border-right: 20px solid hsla(0,0%,99%,.4);
        background-clip: padding-box;
        padding-left: 5%;
        padding-right: 5%;
    }
    .eventgallery{
        width: 90%;
    }
    h1{
        font-size: 15px;
    }
    nav{
        height: 8em;
    }
    nav ul{
        padding-right: 2%;
    }
    nav li {
        display: block;
        padding: 10px;
    }


}

@media only screen and (max-width: 580px){
    .bannerpics{
        padding-top: 9em;
    }

    #credit{
        font-size: 7px;
    }

    footer{
        font-size: 10px;
    }


    h1{
        font-size: 15px;
    }

    h4, h5, h6, p,.indentlist  {
        font-size: 13px;
    }

    .logo{
        align-content: center;
        display: block;
        float: none;
        padding-right: 4%;
        text-align: center;
    }

    nav{
        align-content: center;
        height: 7em;
        text-align: center;
    }
    nav ul{
        padding-right: 0%;
    }
    nav li {
        display: inline-flex;
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 13%;
        margin-left: -5%;
    }

    .social-media-logos{
        max-height: 20px;
    }

}
